header{
    text-align: center;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Lisää varjoa, joka antaa syvyysvaikutelman */

}
body{
    background: linear-gradient(to left, #2ecbf7, #24e6a5);
    height: 100vh;
    margin: 0;
    display: flex; /* Käytetään flexboxia */
    flex-direction: column;
    align-items: center; /* Keskitetään pystysuunnassa */
}

main {
    text-align: center; /* Keskittää tekstin */
    background: white; /* Valkoinen tausta, jotta sisältö erottuu */
    padding: 20px; /* Lisää tilaa sisällön ympärille */
    border-radius: 20px; /* Pyöristää kulmat */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Lisää varjoa, joka antaa syvyysvaikutelman */
}

section {
    margin-bottom: 20px; /* Lisää tilaa osioiden väliin */
}